<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoItX.Dotnet" version="3.3.14.2" targetFramework="net461" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="GlobalHotKey" version="1.1.0" targetFramework="net461" />
  <package id="GlobalHotkeys" version="1.0.0.6" targetFramework="net461" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net461" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="MouseKeyHook" version="5.4.0" targetFramework="net461" />
  <package id="NHotkey" version="1.2.1" targetFramework="net461" />
  <package id="NHotkey.WindowsForms" version="1.2.1" targetFramework="net461" />
  <package id="Resolve.HotKeys" version="1.0.0" targetFramework="net461" />
</packages>